
@{
    ViewBag.Title = "_Footer";
}

<!-- Footer -->
<footer class="card-footer bg-primary">

    <!-- Footer Links -->
    <div class="container-fluid text-secondary">


    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="py-3 text-center">
        May The Force Be With You © 2020 Copyright ~ Raj Thakkar 
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->