@{
    ViewBag.Title = "_Navbar";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <section class="container">

        @*Nav Bar Logo*@
        <a class="navbar-brand" href="#">

            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

            <circle cx="224" cy="138.667" r="32" />
            <path d="M437.333,245.333c5.896,0,10.667-4.771,10.667-10.667V192h32c5.896,0,10.667-4.771,10.667-10.667v-42.667
				                    c0-5.896-4.771-10.667-10.667-10.667h-53.333V85.333h15.5c4.406,0,8.354-2.708,9.948-6.823c1.594-4.104,0.49-8.771-2.771-11.729
				                    C402,23.719,340.917,0,277.333,0c-141.156,0-256,114.844-256,256s114.844,256,256,256c63.583,0,124.667-23.719,172.01-66.781
				                    c3.26-2.958,4.365-7.625,2.771-11.729c-1.594-4.115-5.542-6.823-9.948-6.823h-15.5v-21.333H480
				                    c5.896,0,10.667-4.771,10.667-10.667v-64c0-5.896-4.771-10.667-10.667-10.667h-74.667v-53.333H43.207
				                    c-0.161-3.561-0.54-7.066-0.54-10.667s0.379-7.105,0.54-10.667H437.333z M341.333,128H384c5.896,0,10.667,4.771,10.667,10.667
				                    c0,5.896-4.771,10.667-10.667,10.667h-42.667c-5.896,0-10.667-4.771-10.667-10.667C330.667,132.771,335.438,128,341.333,128z
				                     M224,64c41.167,0,74.667,33.5,74.667,74.667c0,41.167-33.5,74.667-74.667,74.667s-74.667-33.5-74.667-74.667
				                    C149.333,97.5,182.833,64,224,64z M96,128h21.333c5.896,0,10.667,4.771,10.667,10.667c0,5.896-4.771,10.667-10.667,10.667H96
				                    c-5.896,0-10.667-4.771-10.667-10.667C85.333,132.771,90.104,128,96,128z M330.667,320h32c5.896,0,10.667,4.771,10.667,10.667
				                    c0,5.896-4.771,10.667-10.667,10.667h-32c-5.896,0-10.667-4.771-10.667-10.667C320,324.771,324.771,320,330.667,320z
				                     M138.667,384H96c-5.896,0-10.667-4.771-10.667-10.667c0-5.896,4.771-10.667,10.667-10.667h42.667
				                    c5.896,0,10.667,4.771,10.667,10.667C149.333,379.229,144.563,384,138.667,384z M85.333,298.667h96
				                    c5.896,0,10.667,4.771,10.667,10.667c0,5.896-4.771,10.667-10.667,10.667h-96c-5.896,0-10.667-4.771-10.667-10.667
				                    C74.667,303.438,79.438,298.667,85.333,298.667z" />

            </svg> Deathstar

            <span class="nabvar-brand" style="color:red">
                Admin Area
                <span title="I find your lack of faith disturbing"><svg title="" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="48px" height="48px"><path d="M 24 2 C 22.898438 2 22 2.898438 22 4 L 22 4.046875 C 16.742188 4.488281 12.300781 8.378906 11.25 13.578125 C 11.175781 13.867188 11.117188 14.1875 11.078125 14.535156 C 11.054688 14.621094 11.015625 14.75 11.003906 14.917969 C 10.941406 15.664063 10.765625 16.667969 10.484375 17.902344 C 10.449219 18.050781 10.414063 18.199219 10.378906 18.347656 C 12.371094 17.1875 14.730469 17 16 17 C 19.394531 17 22.441406 17.804688 23.140625 18 L 26.855469 18 C 27.554688 17.800781 30.558594 17 34 17 C 35.007813 17 37.523438 17.152344 39.65625 18.4375 L 39.53125 17.964844 C 39.238281 16.707031 39.058594 15.683594 38.996094 14.914063 C 38.984375 14.761719 38.953125 14.640625 38.921875 14.539063 C 38.882813 14.191406 38.824219 13.875 38.761719 13.636719 C 37.703125 8.382813 33.261719 4.488281 28 4.046875 L 28 4 C 28 2.898438 27.101563 2 26 2 Z M 24 4 L 26 4 L 26 18 L 24 18 Z M 20.085938 8 C 20.476563 8.035156 20.824219 8.296875 20.953125 8.6875 C 21.121094 9.214844 20.835938 9.777344 20.3125 9.949219 C 20.207031 9.984375 17.871094 10.804688 16.9375 13.34375 C 16.789063 13.75 16.40625 14 16 14 C 15.886719 14 15.769531 13.980469 15.65625 13.9375 C 15.136719 13.746094 14.871094 13.171875 15.0625 12.65625 C 16.339844 9.175781 19.554688 8.09375 19.6875 8.046875 C 19.820313 8.003906 19.957031 7.992188 20.085938 8 Z M 16.015625 19 C 14.375 19 10.429688 19.351563 9.316406 22.597656 C 9.316406 22.597656 7.082031 27.527344 6.527344 28.777344 C 4.722656 32.832031 3.015625 36.664063 3.015625 38.980469 C 3.011719 39.3125 3.085938 40.492188 4.34375 41.769531 C 5.460938 42.902344 8.078125 43.976563 11.542969 44.761719 C 12.449219 43.820313 13.652344 42.335938 14.046875 40.757813 C 14.183594 40.222656 14.726563 39.898438 15.261719 40.03125 C 15.796875 40.164063 16.121094 40.707031 15.984375 41.242188 C 15.570313 42.898438 14.523438 44.40625 13.566406 45.511719 C 14.886719 47.183594 18.660156 48 25.015625 48 C 31.707031 48 35.441406 47.144531 36.605469 45.328125 C 36.03125 44.507813 35.375 43.402344 35.054688 42.269531 C 34.90625 41.738281 35.214844 41.1875 35.746094 41.035156 C 36.277344 40.886719 36.828125 41.199219 36.980469 41.730469 C 37.28125 42.804688 38.0625 43.980469 38.636719 44.722656 C 42.023438 43.945313 44.589844 42.886719 45.6875 41.769531 C 46.945313 40.492188 47.023438 39.308594 47.015625 39 C 47.015625 36.660156 45.3125 32.832031 43.511719 28.78125 C 42.953125 27.53125 40.730469 22.625 40.730469 22.625 C 39.46875 19.261719 35.273438 19 34.015625 19 C 30.457031 19 27.34375 19.945313 27.3125 19.957031 L 27.015625 20 L 22.730469 20 C 22.695313 19.988281 19.503906 19 16.015625 19 Z M 18.375 21 C 21.25 21 24.015625 23 24.015625 23 L 24.015625 27.265625 C 24.308594 27.101563 24.640625 27 25 27 C 25.371094 27 25.71875 27.109375 26.015625 27.285156 L 26.015625 23 C 26.015625 23 28.785156 21 31.660156 21 C 34.707031 21 36.015625 23.875 36.015625 26 C 36.015625 26.085938 36 26.164063 35.988281 26.246094 C 35.867188 28.46875 34.132813 32.859375 33.929688 33.371094 C 33.773438 33.761719 33.394531 34 33 34 C 32.875 34 32.75 33.976563 32.628906 33.929688 C 32.117188 33.726563 31.867188 33.140625 32.070313 32.628906 C 32.441406 31.695313 33.230469 29.574219 33.675781 27.867188 C 32.800781 28.023438 32.015625 28 32.015625 28 L 26.722656 28 C 26.894531 28.296875 27 28.632813 27 29 L 27 38 L 26 38 L 26 32 L 24 32 L 24 38 L 23 38 L 23 29 C 23 28.632813 23.105469 28.296875 23.277344 28 L 18.015625 28 C 18.015625 28 17.210938 28.023438 16.324219 27.859375 C 16.765625 29.566406 17.554688 31.695313 17.929688 32.628906 C 18.132813 33.140625 17.886719 33.726563 17.371094 33.929688 C 17.25 33.976563 17.125 34 17 34 C 16.601563 34 16.226563 33.761719 16.070313 33.371094 C 15.859375 32.839844 14 28.132813 14 26 C 14 25.960938 14.015625 25.929688 14.019531 25.890625 C 14.0625 23.78125 15.378906 21 18.375 21 Z M 21 33.199219 L 21 38 L 18 38 Z M 29 33.199219 L 32 38 L 29 38 Z M 29.960938 37 C 29.972656 37.023438 29.988281 37.039063 30 37.0625 L 30 37 Z" /></svg></span>
            </span>

        </a>

        @*Toggle Button*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#death-star-navbar" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @*Nav Links Starts From Here*@
        <div class="collapse navbar-collapse" id="death-star-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="/Home/Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item active">
                    <a href="/Customers/Index" class="nav-link">Customers</a>
                </li>
                <li class="nav-item active">
                    <a href="/Admin/Cities/Index" class="nav-link">Cities</a>
                </li>
                <li class="nav-item active">
                    <a href="/Admin/States/Index" class="nav-link">States</a>
                </li>
                <li class="nav-item active">
                    <a href="/Admin/Countries/Index" class="nav-link">Countries</a>
                </li>
            </ul>
        </div>
        @*Nav Links Ends Here*@

    </section>

</nav>
